<div class="container">
  <h2><%= @lists.name %></h2>
  <%#= simple_form_for @list do |f| %>
    <%#= f.input :name, placeholder: 'Name of the list' %>
    <%#= f.submit class: 'btn btn-flat' %>
  <%# end %>
</div>
