.navbar-lewagon {
  justify-content: space-between;
  background: rgb(33, 20, 6);
  border-bottom: solid 1px rgb(251, 244, 238);
  position: sticky;
  top: 0px;
  .nav-link {
    color: white;
  }
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
