.product-wrapper {
  display: flex;
  margin: 0em;
  justify-content: center;
  height: 100vh;
}

.home-wrapper {
  margin: 200px;
  height: 100vh;

  h1 {
    font-size: 135px;
  }

  h2 {
    font-size: 70px;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 768px) {
  .product-wrapper {
    display: block;
  }
  .show-image {
    width: 100%;
    img {
      width: 50%;
      height: 50%;
    }
  }
  .beer-description {
    width: 100%;
  }
  #map {
    width: 100%;
  }


}
